<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tells your age</title>
    <link rel="icon" href="calculator_math_icon.png" type="image.png">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="div">
        <div class="div1"> 
            <h2>Guess what?</h2>
            <h1>We can tell your Age</h1>
            <h4>Enter your date of birth:</h4>
            
            <input type="number" id="day" placeholder="Day (DD)">
            <input type="number" id="month" placeholder="Month (MM)">
            <input type="number" id="year" placeholder="Year (YYYY)"><br>
            <div class="buttons">
                <button onclick="calculateAge()">See your age</button>
            </div>
        
            <h4 id="result"></h4>

            <h1 class="result-year"></h1>
            <h2 class="result-month"></h2>
            <h3 class="result-day"></h3>

        </div>
    </div>



    <script>

        const baseUrl = process.env.API_BASE_URL ?? 'http://localhost:5000';
        // const baseUrl = 'http://localhost:5000';

        const calculateAge = () => {
            let year = document.querySelector("#year").value;
            let month = document.querySelector("#month").value;
            let day = document.querySelector("#day").value
            let container = document.querySelector(".div1");
            let yearResult = document.querySelector(".result-year")
            let monthResult = document.querySelector(".result-month")
            let dayResult = document.querySelector(".result-day")
            const buttons = document.querySelector(".buttons");

            const today = new Date();
            var lastDayOfMonth = new Date(today.getFullYear(), today.getMonth() + 1, 0)
            var lastDateOfMonth = lastDayOfMonth.getDate();  

            fetch (baseUrl + "/age_calculations", {
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify ({year, month, day})
            })
            .then(response => response.json())
            .then(data => {
                if(data.error) {
                    let errResult =  document.querySelector("#result");
                    errResult.className = "err-result"
                    if (!day) return errResult.innerText = "Day is required";
                    if (!month) return errResult.innerText = "Month is required";
                    if (!year) return errResult.innerText = "Year is required";
                    if (day < 1 || day > lastDateOfMonth) return errResult.innerText = "Invalid day"
                    if (month < 1 || month > 12) return errResult.innerText = "Invalid month";
                    errResult.innerText = "Oopsss😱! Invalid date entered🤥🤥😕!";
                    
                }
                else {
                    let successResult = document.querySelector("#result");
                    if (year < 1900 || year > today.getFullYear()) {  
                        return successResult.innerText = "Invalid year";  
                    } 
                    successResult.className = "success-result";
                    successResult.innerText =  ""
                    yearResult.innerText = `${data.years} Years`;
                    monthResult.innerText = `${data.months} Months `
                    dayResult.innerText = `${data.days} Days`
                    buttons.className = "buttons-after"
                    container.className = "moving-container";
                    let resetBtn = document.createElement('button');
                    resetBtn.textContent = "Reset";
                    buttons.appendChild(resetBtn);
                    resetBtn.addEventListener('click', () => {
                        location.reload();
                    })
                }
            })
            .catch(error => console.error("Error: ", error));
        }
    </script>
</body>
</html>